@{
    ViewBag.Title = "Index";
}
<h1 style="text-align:center;margin-top:4%;"><i class="glyphicon glyphicon-list-alt"></i> Order Form</h1>
<div class="container" style="font-family:'Segoe UI';font-weight:400;">
    <div class="master" style="width:100%;">
        <h2><img id="applimg" src="http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-10/33/0830.png" data-src="//d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-10/33/0830.png" style="height: auto; max-width: 100%; vertical-align: middle; border: 0px; color: rgb(51, 51, 51); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;"> Order List</h2>
        <table class="table table-responsive">
            <tr class="col-md-12">
                <td class="col-md-1"><i class="fa fa-file-text" aria-hidden="true"></i> Order No</td>
                <td class="col-md-2">
                    <input type="text" id="orderNo" class="form-control" disabled="disabled" />
                    <span class="error">Order no required</span>
                </td>
                <td class="col-md-1"><i class="fa fa-calendar-o" aria-hidden="true"></i> Date</td>
                <td class="col-md-2">
                    <input type="text" id="orderDate" class="form-control" placeholder="MM-dd-yyyy" />
                    <span class="error">Valid order date required (ex: MM-dd-yyyy)</span>
                </td>
              </tr>
            <tr class="col-md-12">
                <td class="col-md-1"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email ID</td>
                <td class="col-md-2">
                    <input id="Email" class="form-control" placeholder="Email ID" />
                    <span class="error">Order no required</span>
                </td>
                <td class="col-md-1"><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> Contact No</td>
                <td class="col-md-2">
                    <input id="phone" class="form-control" placeholder="Contact No" />
                    <span class="error">Order no required</span>
                </td>
             </tr>
            <tr class="col-md-12">
                <td class="col-md-2">@*<i class="fa fa-building-o" aria-hidden="true"></i>*@🏢 Orgnisation</td>
                <td class="col-md-10" style="padding-left:8px;width:925px;">
                    <input id="company" class="form-control" placeholder="Orgnisation / Company Name" />
                    <span class="error">Orgnisation/Company Name required</span>
                </td>
            </tr>
            @*<tr class="col-md-12">
                <td class="col-md-4"><i class="fa fa-calendar-o" aria-hidden="true"></i> Date</td>
                <td class="col-md-8">
                    <input type="text" id="orderDate" class="form-control" placeholder="MM-dd-yyyy"/>
                    <span class="error">Valid order date required (ex: MM-dd-yyyy)</span>
                </td>
            </tr>*@
      </table> 
        <div class="form-group" style="margin-left:21px;">
            <label for="dtp_input1" class="col-md-2 control-label">@*<i class="fa fa-clock-o" aria-hidden="true"></i>*@⏰ Issue Date Time</label>
            <div class="input-group date form_datetime col-md-3" data-date="" data-date-format="dd MM yyyy HH:ii p" data-link-field="dtp_input1">
                <input class="form-control" size="16" type="text" id="FromDate" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_input1" value="" /><br />
        </div>
        <div class="form-group" style="margin-left:21px;" >
            <label for="dtp_input1" class="col-md-2 control-label">@*<i class="fa fa-clock-o" aria-hidden="true"></i>*@⏰ Return Date Time</label>
            <div class="input-group date form_datetime col-md-3" data-date="" data-date-format="dd MM yyyy HH:ii p" data-link-field="dtp_input1">
                <input class="form-control" size="16" type="text" id="ToDate" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_input1" value="" /><br />
        </div>
    </div>
    <div class="details" style="width:100%;">
        <h2>
            📋 Order items
        </h2>
        <table class="table table-responsive">
            <tr>
                <td style="text-align:center;color:white;" bgcolor="black">Category</td>
                <td style="text-align:center;color:white;" bgcolor="black">Product</td>
                <td style="text-align:center;color:white;" bgcolor="black">Quantity</td>
                <td style="text-align:center;color:white;" bgcolor="black">&nbsp;</td>
            </tr>
            <tr class="mycontainer" id="mainrow">
                <td>
                    <select id="productCategory" class="pc form-control" onchange="LoadProduct(this)">
                        <option>Select</option>
                    </select>
                    <span class="error">Select Category</span>
                </td>
                <td>
                    <select id="product" class="product form-control">
                        <option>Select</option>
                    </select>
                    <span class="error">Select Product</span>
                </td>
                <td>
                    <input type="text" id="quantity" class="quantity form-control"  placeholder="Only Numeric Allowed"/>
                    <span class="error">Valid quantity required</span>
                </td>
                @*<td>
                    <input type="text" id="rate" class="rate form-control" />
                    <span class="error">Valid rate required</span>
                </td>*@
                <td>
                   <input type="button" id="add" value="➕ Add  " style="width:100px;" class="btn btn-success" />
                </td>
            </tr>
        </table>
        <div id="orderItems">
            <table class="table table-responsive" id="orderdetailsItems"></table>
            <span id="orderItemError" style="color:red"></span>
        </div>
        <div style="padding:10px 10px; text-align:right">
            <input id="submit" type="button" value="💾 Save Order" class="btn btn-warning" style="padding:10px 20px" />
        </div>
    </div>
</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/myScripts.js"></script>
<script type="text/javascript">
    $(function () {
        $('#orderDate').datepicker({
            dateFormat: 'mm-dd-yy'
        })        
    })
</script>
<script>
    $(document).ready(function () {
       $('#orderNo').val(Date.now);
    });
</script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	$('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });
</script>
<script>
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = month + "-" + day + "-" + year;


    document.getElementById('orderDate').value = today;
</script>
<style>
    span.error{
        display:block;
        visibility:hidden;
        color:red;
        font-size:90%;
    }
    tr.error{
        background-color:rgba(255,0,0,0.35);
    }
    .remove{
   background-color:transparent;
   border:none;
   color:black;
    }
    td{
        text-align:center;
    }
</style>

